<template>
  <section>
    <div class="columns is-mobile is-multiline is-centered is-gapless">
      <div class="column">
        </div>
               <div class="column is-narrow"> 
              <a href="https://joindiaspora.com/people/f021cd704b67013555c80242ac110007" target="_blank">
                <img src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,o_60,w_57/v1525771216/diaspora_p40nlj.png" alt="diaspora logo">
              </a>
          </div>
          <div class="column is-narrow">
              <a href="https://vk.com/id445845253" target="_blank">
                <img src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,o_60,w_57/v1525771216/vkontakte_tmfz6x.png" alt="vkontakte logo">
              </a>
            </div>
          <div class="column is-narrow">
              <a href="https://www.facebook.com/askcreative.space" target="_blank">
                <img src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,o_60,w_57/v1525771215/facebook_synael.png" alt="facebook logo">
              </a>
            </div>
          <div class="column is-narrow">
              <a href="https://twitter.com/askcreative" target="_blank">
                <img src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,o_60,w_57/v1525771216/twitter_srdflh.png" alt="twitter logo">
              </a>
          </div>
          <div class="column is-narrow">
              <a href="https://www.flickr.com/photos/amystormkosman" target="_blank">
                <img src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,o_60,w_57/v1525771217/flickr_pvhyvk.png" alt="flickr logo">
              </a>
          </div>
          <div class="column is-narrow">
              <a href="https://ok.ru/profile/576887571683" target="_blank">
                <img src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,o_60,w_57/v1525771217/odnoklassniki_znjd9t.png" alt="odnoklassniki logo">
              </a>
          </div>
          <div class="column is-narrow">
              <a href="https://github.com/askcreative" target="_blank">
                <img src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,o_60,w_57/v1525771217/github_czrubb.png" alt="github logo">
              </a>
          </div>
          <div class="column is-narrow">
              <a href="https://www.linkedin.com/company/amy-storm-kosman-creative" target="_blank">
                <img src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,o_60,w_57/v1525771215/linkedin_ztbsae.png" alt="linkedin logo">
              </a>          
          </div>
          <div class="column is-narrow">            
              <a href="https://plus.google.com/103017973685192810679" target="_blank">
                <img src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,o_60,w_57/v1525771215/google-plus_toa2hh.png" alt="google-plus logo">
              </a>            
          </div>
          <div class="column is-narrow">           
              <a href="https://timeline.line.me/user/_dQeeYLJVMyLECqNeDH9euw80boLtzB-M-2os5p0" target="_blank">
                <img src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,o_60,w_57/v1525771215/line_wabidq.png" alt="line logo">
              </a>            
          </div>
          <div class="column is-narrow">           
              <a href="https://www.instagram.com/askcreative.space" target="_blank">
                <img src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,o_60,w_57/v1525771215/instagram_disbz6.png" alt="instagram logo">
              </a>            
          </div>
              <div class="column">
        </div>
         </div>
  </section>
</template>


<script>
export default {
  name: 'FollowMeBottom'
}
</script>

<style scoped>
.columns {
  background-color: #413e3c
}

img {
  max-width: 40%;
}
@media (max-width: 799px){
  img {
    max-width: 30px;
  }
}
</style>