<template>
 <div class="just-comments">
    <div data-allowguests="true" data-recaptcha="true" data-apikey="YOUR_API_KEY"></div>
 </div>
</template>

<script>
  export default {
    name: 'JustComments',
    data() {
      return { 
      }
    },
    mounted() {
      if (document.getElementById('just-comments')) return
      var scriptTag = document.createElement("script")
      scriptTag.src = "https://just-comments.com/w.js"
      scriptTag.id = "just-comments"
      document.getElementsByTagName('body')[0].appendChild(scriptTag)
    }
  }
</script>

<style lang="stylus" scoped>
.just-comments 
  margin-top 5vh

</style>
