<template>
  <section>
    <div class="my-store">
      <div>
        <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?1003&data_platform=code&data_date=2018-10-06"
          charset="utf-8"></script>
        <script type="text/javascript">
          Ecwid.init();
        </script>
      </div>
      <div id="my-search-1003"></div>
      <div>
        <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?1003&data_platform=code&data_date=2018-10-06"
          charset="utf-8"></script>
        <script type="text/javascript">
          xSearch("id=my-search-1003");
        </script>
      </div>
      <div id="my-store-1003"></div>
      <div>
        <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?1003&data_platform=code&data_date=2018-10-06"
          charset="utf-8"></script>
        <script type="text/javascript">
          xProductBrowser("categoriesPerRow=3", "views=grid(20,3) list(60) table(60)", "categoryView=grid",
            "searchView=list", "id=my-store-1003");
        </script>
      </div>
      <div id="my-categories-1003"></div>
      <div>
        <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?1003&data_platform=code&data_date=2018-10-06"
          charset="utf-8"></script>
        <script type="text/javascript">
          xCategoriesV2("id=my-categories-1003");
        </script>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'ShopMain'
  }
</script>

<style lang="stylus" scoped>
</style>