<template>
  <section class="hero">
        <h1 class="title big">
          Shop
        </h1>
        <h2 class="subtitle is-size-3">
          Handcrafted items that are unique and environmentally conscious.
        </h2>
  </section>
</template>

<script>
export default {
  name: 'ShopHero'
}
</script>

<style lang="stylus" scoped>
.big
  font-size: 4rem

h1
  text-align center
  text-shadow: #ac3b61 2px 2px 1px, #d9d5d6 0 0 10px;
  background-image -webkit-gradient linear-gradient(to right,#ff8a62,#ac3b61, #ff8a62)
  background-image linear-gradient(to right,#ff8a62,#ac3b61, #ff8a62)
  background-repeat no-repeat
  background-size 100% .2em
  background-position 0 95%
  
h2 
  text-align center
</style>
