<template>
  <section class="newsletter">
    <div class="columns is-mobile is-centered">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <h3 class="title">
              Subscribe to my Newsletter
            </h3>
            <h3 class="subtitle">
              &amp; receive occasional updates
            </h3>
            <div class="card-content">
            <div class="content">
              <form 
                ref="subscribe" 
                name="subscribe" 
                netlify-honeypot="bot-field" 
                method="POST" 
                action="/successnews" 
                netlify 
                @submit.prevent="validateBeforeSubmit">
                <input 
                  type="hidden" 
                  name="form-name" 
                  value="subscribe" >
                <p class="is-hidden">
                  <label>Don’t fill this out:
                    <input name="bot-field">
                  </label>
                </p>
                <div class="field">
                  <label class="label">Name
                    <p class="control">
                      <input 
                        v-validate="'required|alpha_spaces'" 
                        v-model="name" 
                        :class="{'input': true, 'is-danger': errors.has('name') }" 
                        name="name"
                        type="text" 
                        placeholder="Name">
                      <span 
                        v-show="errors.has('name')" 
                        class="help is-danger">{{ errors.first('name') }}</span>
                    </p>
                  </label>
                </div>
                <div class="field">
                  <label class="label">Email
                    <p class="control">
                      <input 
                        v-validate="'required|email'" 
                        v-model="email" 
                        :class="{'input': true, 'is-danger': errors.has('email') }" 
                        name="email"
                        type="text" 
                        placeholder="Email">
                      <span 
                        v-show="errors.has('email')" 
                        class="help is-danger">{{ errors.first('email') }}</span>
                    </p>
                  </label>
                </div>
                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input 
                        v-validate="'required'" 
                        name="subscribe" 
                        type="checkbox"> I would like to recieve updates from Amy Storm Kosman creative &amp; subscribe to the Amy Storm Kosman
                        creative newsletter.
                    </label>
                    <span 
                      v-show="errors.has('subscribe')" 
                      class="help is-danger">{{ errors.first('subscribe') }}</span>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input 
                        v-validate="'required'" 
                        name="privacy" 
                        type="checkbox"> I have read the
                      <router-link to="/info/privacy">Privacy Policy</router-link>. I agree to the terms and understand my rights.
                    </label>
                    <span 
                      v-show="errors.has('privacy')" 
                      class="help is-danger">{{ errors.first('privacy') }}</span>
                  </div>
                </div>
                <p>
                  <button 
                    :disabled="errors.any()" 
                    class="button is-medium is-pink" 
                    type="submit" 
                    value="submit">
                    Send</button>
                </p>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import VeeValidate from './vee-validate'

export default {
  name: 'SignupNewsletter',
    data () {
      return {
        name: '',
        email: '',
        subscribe: '',
        privacy: ''
      }
    },
  methods: {
    validateBeforeSubmit: function(event) {
    	var self = this
      this.$validator.validateAll().then(function(result) {
        if (!result) return
        // submit when successful
        self.$refs.subscribe.submit()
      })
    }
  }
}
</script>

<style scoped>
.newsletter {
  margin: 5vh;
  background-color: transparent;
}
.textarea,
.input {
  border: 2px solid rgb(217, 213, 214);
  box-shadow: inset 0 1px 2px rgba(217, 213, 314, 0.1);
  background-color: #fefcfb;
}
.is-pink {
  background-color: #ac3b61;
  color: #fefcfb;
}
a {
  color: #171412;
  text-decoration-line: underline;
  text-decoration-color: #ac3b61;
  font-style: italic;
}
.is-danger {
  background-color: #f2f1f1;
  color: #c6455c;
}
</style>